-# https://jsfiddle.net/ann7tctp/

.container
  .list-group.list-group-root.well
    %a.list-group-item{ :href => '#item-1', 'data-toggle' => 'collapse'}
      = fa_icon('chevron-right')
      v1
    #item-1.list-group.collapse
      %a.list-group-item{ :href => '#item-1-0', 'data-toggle' => 'collapse'}
        = fa_icon('chevron-right')
        v1.0
      #item-1-0.list-group.collapse
        %a.list-group-item{ :href => '#item-1-0-0', 'data-toggle' => 'collapse'}
          = fa_icon('chevron-right')
          v1.0.0
        #item-1-0-0.list-group.collapse
          .list-group-item Rancher App Release!
        %a.list-group-item{ :href => '#item-1-0-1', 'data-toggle' => 'collapse'}
          = fa_icon('chevron-right')
          v1.0.1
        #item-1-0-1.list-group.collapse
          .list-group-item Added this page!
          .list-group-item Incinerator's fire slime badge now disappears when box is unchecked.
          .list-group-item Removed slimes from silo radial menu.
          .list-group-item Layouts created/deleted without page refresh.
          .list-group-item Removed "Manage Layouts" button, no longer needed.
          .list-group-item Tooltips and Popovers now behave as intended.
        %a.list-group-item{ :href => '#item-1-0-2', 'data-toggle' => 'collapse'}
          = fa_icon('chevron-right')
          v1.0.2
        #item-1-0-2.list-group.collapse
          .list-group-item Fixed bug where you could not add/subtract silo compartments.
          .list-group-item Fixed visual where silo items where not rendering properly.
          .list-group-item Fixed create button.
        %a.list-group-item{ :href => '#item-1-0-3', 'data-toggle' => 'collapse'}
          = fa_icon('chevron-right')
          v1.0.3
        #item-1-0-3.list-group.collapse
          .list-group-item Made it so only one plot can be open at a time. This is to prevent some unintended selection behavior (ex. being able to put puddle/fire slimes in corrals).
          .list-group-item Fixed issue where items from select UI would disappear after use.
