%nav.navbar.navbar-expand.fixed-top.navbar-light{ :style => 'background-color: #05275E' }
  = link_to 'Home', root_path, class: 'navbar-brand', style: 'color: white; background-color: #0000'
  .collapse.navbar-collapse#navbarSupportedContent
    %ul.navbar-nav.ml-auto
      - if user_signed_in?
        %li.nav-item.mr-2.pt-2{ style: 'color: white' }
          = current_user.email
        %li.nav-item
          = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-sm', style: 'color: white'
      - else
        %li.nav-item
          .btn-group
            = link_to 'Sign In', new_user_session_path, class: 'btn btn-secondary btn-sm', style: 'color: white'
            = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info btn-sm', style: 'color: white'
